body{
  background-color: #121212;
  color: #fff;
  padding: 20px;
}

h1{
  font-size: 25px;
  text-align: center;
  
}

.group{
 width: 200px;
 margin: 0 auto 20px;
 display: grid; 
 grid-template-columns: 100px 80px;
 border-radius: 10px;
}

select{
  padding: 10px;

}
input{
  padding: 10px;
}